<!DOCTYPE html>
<html>
<head>
    <script src="../scripts/angular.js"></script>
    <script src="../scripts/angular-cookies.js"></script>
    <script src="../scripts/LoginApp.js"></script>
    <script src="../scripts/LoginService.js"></script>
    <script src="../scripts/jquery-1.10.2.js"></script>
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <link href="../Content/style.css" rel="stylesheet" />
    <link href="../Content/fontawesome-all.css" rel="stylesheet" />
    <script src="../scripts/bootstrap.js"></script>
    <title></title>
	<meta charset="utf-8" />
</head>
<body style="padding-top:50px" ng-app="LoginApp" ng-controller="CustomerDetailsController">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="../index.html">FlowerPop</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar" ng-if="customername">
                <ul class="nav navbar-nav"></ul>
                <form class="navbar-form navbar-left" action="">
                    <div class="input-group">
                        <input id="search" type="text" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn search-button" type="submit">
                                <i class="fas fa-search icon"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="Login.html" data-toggle="dropdown">
                            My Account
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="EditDriverInfo.html"><i class="fas fa-user"></i> Account Info</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Hi! {{customername}}</a></li>
                    <li><a ng-click="logOut()"><span class="fas fa-sign-out-alt"></span>Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <h2 class="text-center">Your Orders</h2>
    <div class="container">
        <table class="table table-hover table-responsive table-bordered">
            <tr>
                <th>Order ID</th>
                <th>OrderDate</th>
                <th>Status</th>
                <th>Total</th>
                <th>Delivery Date</th>
            </tr>

            <tr ng-repeat="ord in data">
                <td>{{ord.OrderID}}</td>
                <td>{{ord.OrderDate}}</td>
                <td>{{ord.OrderStatus}}</td>
                <td>{{ord.totalAmount}}</td>
                <td>{{ord.DeliveryDate}}</td>
                <!--<td><a href="../netfloristViews/UpdateProduct.html" id="myAddProductBtn" class="btn btn-default">Edit</a></td>
                <td><a href="" class="btn btn-danger" ng-click="DeleteProducts(prod)">Delete</a></td>-->
            </tr>
        </table>
    </div>
</body>
</html>
