<!DOCTYPE html>
<html>
<head>
    <script src="../scripts/angular.js"></script>
    <script src="../scripts/angular-cookies.js"></script>
    <script src="../scripts/LoginApp.js"></script>
    <script src="../scripts/LoginService.js"></script>
    <script src="../scripts/jquery-1.9.1.js"></script>
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <link href="../Content/style.css" rel="stylesheet" />
    <link href="../Content/fontawesome-all.css" rel="stylesheet" />
    <script src="../scripts/bootstrap.js"></script>
    <title></title>
	<meta charset="utf-8" />
</head>
<body style="padding:80px" ng-app="LoginApp" ng-controller="ProductsController">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">FlowerPop</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar" ng-if="adminname">
                <ul class="nav navbar-nav">
                    <li><a href="../netfloristViews/AdminDashboard.html">Manage Users</a></li>
                    <li class="active"><a href="../netfloristViews/ManageProducts.html">Manage Products</a></li>
                    <li><a href="../netfloristViews/AddImage.html">Add Images</a></li>
                    <li><a href="../netfloristViews/ManageDeliveries.html">Manage Deliveries</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Hi! {{adminname}}</a></li>
                    <li><a ng-click="logOut()"><span class="fas fa-sign-out-alt"></span>Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <h2 class="text-center">Products</h2>
    <div class="container">
        <table class="table table-hover table-responsive table-bordered">
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Price</th>
                <th colspan="2"></th>
            </tr>

            <tr ng-repeat="prod in product">
                <td>{{prod.ProductID}}</td>
                <td>{{prod.ProductName}}</td>
                <td>{{prod.ProductDescription}}</td>
                <td>{{prod.ProductCategory}}</td>
                <td>{{prod.ProductPrice | currency: "R"}}</td>
                <td><a href="../netfloristViews/UpdateProduct.html" id="myAddProductBtn" class="btn btn-default">Edit</a></td>
                <td><a href="" class="btn btn-danger" ng-click="DeleteProducts(prod)">Delete</a></td>
            </tr>
        </table>
        <a href="" id="myAddProductBtn" class="btn btn-success btn-lg add-product center-block">Add a Product</a>
        <div class="container">
            <!-- Add Products Modal -->
            <div class="modal fade " id="AddProductModal" role="dialog">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h2>Add Product</h2>
                        </div>
                        <div class="modal-body">
                            <form name="ProductForm" class="form-signin">
                                <label class="sr-only">Product ID</label>
                                <input class="form-control" type="text" placeholder="ProductID" maxlength="4" name="ProductID" value="{{prod.ProductID}}" ng-model="ProductID" required />
                                <label class="sr-only">ProductName:</label>
                                <input name="ProductName" class="form-control" type="text" placeholder="ProductName" value="{{prod.ProductName}}" ng-model="ProductName" required />
                                <label class="sr-only">ProductDescription</label>
                                <input name="ProductDescription" class="form-control" type="text" placeholder="ProductDescription" value="{{prod.ProductDescription}}" ng-model="ProductDescription" required />
                                <label class="sr-only">ProductQuantity</label>
                                <input name="ProductQuantity" class="form-control" type="text" placeholder="ProductQuantity" value="{{prod.ProductQuantity}}" ng-model="ProductQuantity" required />
                                <label class="sr-only">ProductDescription</label>
                                <input name="ProductDescription" class="form-control" type="text" placeholder="SupplierID" value="{{prod.SupplierID}}" ng-model="SupplierID" required />
                                <select class="form-control" name="Category" id="ProductCategory" ng-model="ProductCategory" required>
                                    <option>Flowers</option>
                                    <option>Gourmet</option>
                                    <option>Chocolate</option>
                                </select>
                                <label class="sr-only">Product Price</label>
                                <input name="ProductPrice" class="form-control" type="text" placeholder="ProductPrice" value="{{prod.ProductPrice}}" ng-model="ProductPrice" required />
                                <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="AddProducts()" value="Submit">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
$(document).ready(function(){
    $("#myAddProductBtn").click(function(){
        $("#AddProductModal").modal();
    });
});
    </script>
</body>
</html>
